body {
    background-color: whitesmoke;

}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    font-weight: bold;
}

img {
    border-radius: 6%;
}

p {
    padding-left: 150px;
}
.formcontainer {
    padding-left: 150px;
}

.headingcontainer {
    padding-left: 150px;
    
}

.img-container {
    display: flex;
    padding-left: 50px;
    
}

.img1 {
    width: 250px;
    height: 150px;
    margin-right: 15px;

}

.img {
    width: 150px;
    height: 250px;
    margin-right: 15px;
}

#indexheader {
    width: 100%;
    height: 100vh;
    background-image: url(resources\images\chez-middleton-screen-shot-2020-12-28-at-6-23-43-am.jpg);
    background-size: cover;
    background-position: center;
}